{
	"debug": true,
	"letencrypt": {
		"prod2": "https://acme-v02.api.letsencrypt.org/directory",
		"stag2": "https://acme-staging-v02.api.letsencrypt.org/directory",
		"reg2": "https://acme-v02.api.letsencrypt.org/acme/reg"
	},
	"domains": [
		"example.com",
		"example.in",
		"ex.ample.in"
	],
	"serverx": {
		"keyPath": "./tls/example-key.pem",
		"httpsPort": 1882,
		"email": "dhanno@example.in",
		"cache": "./bundles",
		"renewBefore": 480,
		"whiteList": [
			"example.com",
			"example.in",
			"ex.ample.in"
		]
	},
	"watch": {
		"bundleDir": "./bundles/",
		"certDir": "./certs/",
		"keyDir": "./keys/",
		"stat": 10,
		"domains": [
			"example.com",
			"example.in",
			"ex.ample.com",
			"ex.ample.in"
		]
	},
	"sds": {
		"debug": true,
		"certDir": "./certs/",
		"keyDir": "./keys/",
		"nodeId": "test-id",
		"version": "3",
		"sdsPort": 8001,
		"domains": [
			"example.com",
			"example.in",
			"ex.ample.in"
		]
	},
	"clientx": {
		"watchDir": "./certs",
		"prod": false,
		"domains": [
			"example.com",
			"example.in",
			"ex.ample.in"
		]
	}
}
